{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% if error %}
        <h3>{{error|safe}}</h3>
    
    {% else %}
        {% if not posted %}
        <h3>Edit Entry <em>{{entry_title1}}</em></h3>
        {% else %}
            <h3><em>{{entry_title1}}</em> successfully edited!</h3>
        {% endif %}
    
    {% endif %}
    <form action="{% url 'edit_entry' entry_title=entry_title1%}" method="POST">
        {% csrf_token %}
        <div>{{ edit_form.textarea_field.label_tag }}</div>
        <div class="form-group textarea">
            {{ edit_form.textarea_field }}
        </div>
        {% if save %}
            <div><input type="submit" value="Save Edited Entry"/></div>
        {% endif %}
    </form>

{% endblock %}